scipy~=1.13.1
scikit-learn~=1.7.1
numpy~=1.26.4
gensim~=4.3.3
pip~=25.2
pyodbc~=5.2.0
requests~=2.32.5
sqlalchemy~=2.0.43
contractions~=0.1.73
nltk~=3.9.1
regex~=2025.9.1
wordcloud~=1.9.4
seaborn~=0.13.2
matplotlib~=3.10.6
datacompy~=0.18.0
pandas~=2.3.1
subset~=0.1.2
kneed~=0.8.5